html, body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}
/*Home page*/
.wrapper1{
    position: relative;
    height:100%;
    background-image:url('../images/image8.jpg');
    background-repeat: no-repeat; 
    background-size:100% 100%;
    color:rgb(248, 242, 242);
}
.wrapper1 .innerWrapper1{
    position:relative;
    width:70%;
    height:100%;
    left:15%;
}
.innerWrapper1 .content1a{
    position:absolute;
    width:100%;
    height:10%;
    top:2%;
}
.content1a img{
    width:80px;
    margin-top:13px;
}
.content1a nav{
    float:right;
    padding:20px;
    font-size:25px;
}
nav a{
    margin-right:10px;
}
.innerWrapper1 .content2a{
    position:relative;
    width:100%;
    height:30%;
    font-size:18px;
    top:19%;
}
.content2a button{
    position:absolute;
    padding:14px 15px;
    width:20%;
    margin-left:40%;
    background-color:#aaafaa;
    color:black;
    border:none;
}
.content2a button a{
    text-decoration: none;
}
.content2a button:hover{
    color:#aaafaa;
    background-color:black;
}
.innerWrapper1 .content3a{
    position:relative;
    width:100%;
    height:40%;
    top:9em;
    display:flex;
}
.table img{
    width:17.3em;
    height:15.5em;
    border:1px solid black;
    margin-left:21px;
}
.footer{
    position:relative;
    width:100%;
    height:10.5%;
    top:18%;
    color:rgb(14, 13, 13)
}
.footer p{
    position:absolute;
    left:25%;
    top:20px;
    font-size:20px;
}
.footer .mediaLogo{
    position:absolute;
    left:65%;
    bottom:1.5px;
    display:flex;
}
.footer .mediaLogo a{
    display: inline-block;
    margin-left: 15px;
    background: black;
    width:45px;
    height:45px;
    display:flex;
    justify-content: center;
    align-items: center;   
    border-radius: 50%;
    transition:0.2s ease-in-out;
}
.footer .mediaLogo a:hover{
    background-color:  #aaafaa;
    transform: translateY(-10px);
}

/**product page**/
.wrapperB{
    position:relative;
    background-image:url('../images/image2.jpg');
    color:white;
    width:100%;
    height:100%;
}
.wrapperB .content2{
    position:relative;
    top:5%;
}
.content2 img{
    position:absolute;
    width:80px;
    left:15%;
}
.content2 nav{
    position:relative;
    float:right;
    padding:10px;
    font-size:25px;
    right:13.5%;
}
.wrapperB h2{
    position:absolute;
    top:13%;
    left:45%;
    font-size:30px;
}
.products table{
    position:absolute;
    width:70%;
    height:70%;
    top:25%;
    left:15%;
    display:flex;
    border-spacing:5px 6px;
}
.products .product1 td,
.products .product2 td{
    position:relative;
    width:40%;
    height:40%;
    left:0%;
}
.products .product2{
   position:absolute;
   margin-top:10px;
}
table td  img{
    width:19em;
    height:13em;
    border:2px solid black;
}
table td  img:hover{
    border:2px solid white;
}

/**Signup page**/
.wrapperA{
    position: relative;
    height:100%;
    background-image:url('../images/image9.jpg');
    background-repeat: no-repeat; 
    background-size:100% 100%;
    color:white;
}
.wrapperA .innerWrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.innerWrapper .content1{
    position: relative;
    width:100%;
    height:7%;
    top:3%;
}
.content1 img{
    position:absolute;
    width:80px;
    left:15%;
}
.content1 nav{
    position:relative;
    float:right;
    padding:10px;
    font-size:25px;
    right:13.5%;
}
nav a{
    margin-left:20px;
    text-decoration:none;
    color:white;
}
.innerWrapper .form{
    position:relative;
    width:40%;
    height:80%;
    margin:auto;
    top:4%;
    color:white;
}
.innerWrapper .form .signup{
    text-align: center;
    font-size:30px;
}
.form form{
    position:absolute;
    top:15%;
    left:6.2em;
}
form .firstName,
form .LastName,
form .email,
form .phoneNo,
form .gender,
form .pwd,
form button{
    padding:10px;
    width:27em;
    background-color:black;
    border:none;
    color:white;
}
form .comment{
    padding:7px;
    min-width:22em;
    max-width:22em;
    min-height:65px;
    max-height:65px;
    text-align: center;
    background-color:black;
    border:none;
}
form button:hover,
.lastContent .btn:hover
{
    background-color:white;
    color: black;
    cursor:pointer;
}
.lastContent p{
    position:absolute;
    text-align:center;
    font-size:20px;
    color:white;
    top:85.5%;
    left:17%;
}
.lastContent .btn{
    padding:3px;
    border:none;
    background-color:black;
    color:white;
    width:27em;
}